
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
  <nav id="header" class="fixed w-full">

    <!--Nav-->
    <div class="relative w-full z-10 fixed top-0 bg-gray-200 border-b border-grey-light">
      <div class="w-full container flex flex-wrap items-center py-4" style="justify-content:center;margin:auto">
        <div class="flex items-center">
          <svg class="h-5 pr-3 fill-current text-teal-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
			<path d="M17.94 11H13V9h4.94A8 8 0 0 0 11 2.06V7H9V2.06A8 8 0 0 0 2.06 9H7v2H2.06A8 8 0 0 0 9 17.94V13h2v4.94A8 8 0 0 0 17.94 11zM10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20z"/>
		  </svg>
          <a class="text-teal-700 text-base no-underline hover:no-underline font-extrabold text-xl" href="/"> Pixsea</a>
        </div>

      </div>
    </div>

    <!--Search-->
    <div class="relative w-full bg-white shadow-xl" id="search-content">
      <div class="container mx-auto py-4 text-black">
      
      <form method="get" action="/">
        <input id="search" type="search" name="search" value="<%= params[:search].present? ? params[:search] : '' %>" autocomplete="off" placeholder="Search..." autofocus="autofocus" class="w-full text-grey-800 transition rounded focus:outline-none focus:border-transparent p-2 appearance-none leading-normal text-xl lg:text-2xl">
      </form>
      
      </div>
    </div>

  </nav>


<section class="overflow-hidden text-gray-700 lg:pt-24">
  <div class="container px-5 py-2 mx-auto lg:pt-24 lg:px-32">
    <div class="flex flex-wrap -m-1 md:-m-2">
      <div class="flex flex-wrap w-1/2">
        <% if @photos.present?%>
          <% @photos.each do |image| %>
            <div class="w-1/2 p-1 md:p-2">
              <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                src="<%=image.image.url%>">
            </div>
          <% end %>
        <% else %>
        <div class="text-center">  No image found ! </div>
        <% end %>
      </div>
      <!--  <div class="flex flex-wrap w-1/2">
          <% @photos.each do |image| %>
          <div class="w-full p-1 md:p-2">
            <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
              src="<%=image.image.url%>">
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
              src="<%=image.image.url%>">
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
              src="<%=image.image.url%>">
          </div>
          <% end %>
        </div> -->
    </div>
  </div>
</section>